<footer class="footer">
    <div class="footer__conteiner">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ipsum justo, vehicula ut interdum quis, vestibulum a est. Morbi velit mauris, malesuada vel sagittis a, euismod ac erat. Praesent vulputate ullamcorper nibh. Aliquam condimentum vel elit id rhoncus. Vivamus ipsum justo, consequat nec dapibus eu, blandit nec elit. Aliquam erat volutpat. Phasellus nec lacinia elit. Mauris cursus velit orci, eget blandit urna congue vitae. Praesent fringilla convallis libero, eget faucibus nibh condimentum a. Nunc elementum, libero vel condimentum sodales, eros orci imperdiet nisl, at elementum lorem justo cursus leo. 
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 00000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 00000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>